<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.chalmers.katla" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.ComposeActivity"
            android:label="@string/title_activity_swipe_main" >
        </activity>
        <activity

            android:name=".activities.MainActivity"
            android:theme="@style/NoActionBar"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="se.chalmers.katla.activities.SendMessage"
            android:label="@string/title_activity_send_message"
            android:parentActivityName="se.chalmers.katla.activities.MainActivity" >
        </activity>
        <activity
            android:name=".activities.ReceiveMessage"
            android:theme="@style/NoActionBar"
            android:label="@string/title_activity_receive_message" >
        </activity>
        <activity
            android:name="se.chalmers.katla.activities.TextToSpeechActivity"
            android:label="@string/title_activity_text_to_speech" >

        </activity>
        <activity

            android:name=".activities.ViewMessage"
            android:theme="@style/NoActionBar"

            android:label="@string/title_activity_speech_to_text" >
        </activity>
        <activity
            android:name=".activities.DrivingConversationActivity"
            android:label="@string/title_activity_drivingconversation" >
        </activity>
        <activity
            android:name=".activities.ContactService"
            android:theme="@style/NoActionBar"
            android:label="@string/title_activity_contact_service" >
        </activity>
    </application>

</manifest>
